* {
  margin: 0;
  padding: 0;
  font-family: "n";
}
@font-face {
  font-family: "n";
  src: url("../m/Inter-Bold.eot");
  src: url("../m/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../m/Inter-Bold.woff") format("woff"),
    url("../m/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.menu {
  height: 85px;
}
.inmenu {
  border: 1px solid white;
  height: 85px;
}
.inmenu1 {
  display: inline-block;
  color: white;
  margin-top: 10px;
  height: 60px;
  border: 5px solid red;
  cursor: pointer;
}
.inmenu11 {
  padding-top: 12px;
  padding-left: 10px;
}
.inmenu1:hover {
  border: 5px solid rgb(36, 145, 255);
}
.inmenu2 {
  display: inline-block;

  margin-bottom: -10px;
}
.inmenu22 {
  margin-left: 10px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  background-color: transparent;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 100;
  width: 100%;
}
.axmenu {
  width: 82px;
  margin-left: 85%;
}
.inmenu3 {
  display: inline-block;
  color: white;
  font-size: 16px;
}
.inmenu33 {
  display: inline-block;
  color: white;
  font-size: 16px;
  margin-left: 200px;
}
.ininmenu3 {
  margin-top: 29px;
}
